@use '../abstracts' as *;

.landing__footer {
    position: relative;
    height: auto;
    padding: 13.7rem 2.8rem 4.9rem 1.8rem;
    color: var(--clr-white);
    background-color: var(--clr-very-dark-cyan);

    @media (min-width: $desktop) {
        padding: 19rem 8rem 8.5rem 12rem;
    }
}

.footer__logo {
    width: 51%;
    max-width: 20rem;

    @media (min-width: $desktop) {
        width: 20%;
        max-width: 30rem;
    }
}

// text container
.footer__text-container {
    margin-top: 2.35rem;

    @media (min-width: $desktop) {
        margin-top: 3.8rem;
        display: grid;
        grid-template-columns: 41% 18% 19% 22%;
    }
}

// location container
.footer__location-container {
    display: flex;
    align-items: flex-start;
    gap: 2.8rem;

    & img {
        padding-top: 0.8rem;
    }

    @media (min-width: $desktop) {
        padding-right: 12rem;
    }
}

.footer__location-text {
    font-size: var(--fs-footer-mobile);
    line-height: 1.55;
}

// phone & email
.footer__contacts {
    margin-top: 2.5rem;

    @media (min-width: $desktop) {
        margin-top: 2.6rem;
    }
}

.footer__contact--phone,
.footer__contact--email {
    display: flex;
    align-items: center;
    gap: 2.3rem;
    font-size: var(--fs-footer-mobile);

    @media (min-width: $desktop) {
        gap: 2.6rem;
    }
}

.footer__contact--phone > img {
    width: 1.8rem;
    height: 1.8rem;

    @media (min-width: $desktop) {
        width: 1.8rem;
        height: 1.8rem;
    }
}

.footer__contact--email {
    gap: 2.1rem;
    margin-top: 2.6rem;

}

.footer__contact--email > img {
    width: 2rem;
    height: 1.6rem;
}

// footer links lists
.footer__links--1,
.footer__links--2 {
    margin-top: 5.8rem;
    font-size: var(--fs-links-mobile);

    @media (min-width: $desktop) {
        margin-top: 0;
    }

    & li {
        margin-top: 1.9rem;
    }

    & li:first-child {
        margin-top: 0;
    }
}

.footer__links--2 {
    margin-top: 1.9rem;

    @media (min-width: $desktop) {
        margin-top: 0;
    }
}

.footer__links--1 a,
.footer__links--2 a {
    color: var(--clr-white);

    &:hover {
        border-bottom: 0.1rem solid var(--clr-white);
    }
}

// socials
.footer__socials {
    display: flex;
    justify-content: center;
    gap: 1.2rem;
    margin-top: 5.5rem;
    padding-left: 1rem;

    @media (min-width: $desktop) {
        gap: 1.3rem;
        width: fit-content;
        margin-top: 0rem;
    }
}

.footer__socials li {
    @include flex-center;
    
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    border: 0.1rem solid var(--clr-white);

    @media (min-width: $desktop) {
        align-items: flex-start;
        width: 3.2rem;
        height: 3.2rem;
    }

    &:hover,
    &:focus {
        border: 1px solid var(--clr-pink);

        & i {
            color: var(--clr-pink);
        }
    }
}

.footer__socials i {
    font-size: var(--fs-normal-mobile);
    color: var(--clr-white);
}

.copyright {
    margin-top: 2.3rem;
    padding-left: 1rem;
    font-size: var(--fs-copyright-mobile);
    text-align: center;

    @media (min-width: $desktop) {
        text-align: right;
    }
}