@use '../abstracts' as *;

.landing__footer {
    position: relative;
    height: auto;
    padding: 25.7rem 2.8rem 4.7rem;
    background-color: var(--clr-very-dark-cyan);

    @media (min-width: $desktop) {
        margin-top: 0rem;
        padding: 20rem 2.8rem 8.5rem 10.5rem;
    }
}

.footer__logo {
    width: 55%;
    max-width: 20rem;
    margin-left: 1rem;

    @media (min-width: $desktop) {
        width: 14%;
    }
}

// text container
.footer__text-container {
    margin-top: 3.5rem;

    @media (min-width: $desktop) {
        margin-top: 2.3rem;
        display: grid;
        grid-template-columns: 36.5% 24% 11.5% 15% 10%;
    }
}

// location container
.footer__location-container {
    display: flex;
    align-items: flex-start;
    gap: 2.3rem;

    & img {
        padding-top: 0.9rem;
    }

    @media (min-width: $desktop) {
        margin-top: 0.3rem;
        padding-left: 1.2rem; 
        padding-right: 4rem;
        gap: 2.8rem;
    }
}

.footer__location-text {
    font-size: var(--fs-footer-location-mobile);
    line-height: 1.5;
}

// phone & email
.footer__contacts {
    margin-top: 1.8rem;

    @media (min-width: $desktop) {
        margin-top: 0.6rem;
    }
}

.footer__contact--phone,
.footer__contact--email {
    display: flex;
    align-items: center;
    gap: 1.6rem;

    @media (min-width: $desktop) {
        gap: 2.6rem;
    }
}

.footer__contact--phone > img {
    width: 1.3rem;
    height: 1.3rem;

    @media (min-width: $desktop) {
        width: 1.8rem;
        height: 1.8rem;
    }
}

.footer__contact--email {
    margin-top: 2.2rem;
}

.footer__contact--email > img {
    width: 2rem;
    height: 1.6rem;
}

// footer links lists
.footer__link--1,
.footer__link--2 {
    margin-top: 8.2rem;
    font-size: var(--fs-footer-location-mobile);

    @media (min-width: $desktop) {
        margin-top: 0;
    }

    & li {
        margin-top: 1.6rem;
    }

    & li:first-child {
        margin-top: 0;
    }
}

.footer__link--2 {
    margin-top: 5rem;

    @media (min-width: $desktop) {
        margin-top: 0;
    }
}

.footer__link--1 a,
.footer__link--2 a {
    color: var(--clr-white);

    &::before {
        content: attr(title);
        display: block;
        height: 0;
        font-weight: var(--fw-semiBold);
        overflow: hidden;
        visibility: hidden;
    }

    &:hover {
        font-weight: var(--fw-semiBold);
    }
}

// socials
.footer__socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 7.8rem;

    @media (min-width: $desktop) {
        gap: 1.3rem;
        width: fit-content;
        margin-top: 0rem;
    }
}

.footer__socials li {
    @include flex-center;
    
    width: 2.7rem;
    height: 2.7rem;
    border-radius: 50%;
    border: 0.1rem solid var(--clr-white);

    @media (min-width: $desktop) {
        width: 3.2rem;
        height: 3.2rem;
    }

    &:hover,
    &:focus {
        border: 1px solid var(--clr-gradient-2);

        & i {
            color: var(--clr-gradient-2);
        }
    }
}

.footer__socials i {
    font-size: var(--fs-normal-mobile);
    color: var(--clr-white);
}