:root {  
    // font families
    --ff-body: 'Open Sans', sans-serif;
    --ff-heading: 'Poppins', sans-serif;

    // font sizes
    --fs-normal-mobile: 1.35rem;
    --fs-normal-desktop: 1.8rem;

    --fs-button-try-mobile: 1.05rem;
    --fs-button-try-desktop: 1.3rem;
    --fs-button-get-mobile: 1.2rem;
    --fs-button-get-desktop: 1.4rem;

    --fs-heading-mobile: 2.4rem;
    --fs-heading-desktop: 4rem;
    --fs-header-text-mobile: 1.6rem;
    --fs-header-text-desktop: 1.8rem;

    --fs-heading-section-mobile: 2rem;
    --fs-heading-section-desktop: 2.8rem;
    --fs-text-section-desktop: 1.9rem;

    --fs-ready-mobile: 1.8rem;
    --fs-ready-desktop: 3.15rem;
    --fs-ready-button-mobile: 1rem;
    --fs-ready-button-desktop: 2rem;

    --fs-footer-mobile: 1.55rem;
    --fs-links-mobile: 1.8rem;
    --fs-contacts-desktop: 1.35rem;
    --fs-contacts-desktop1: 1.6rem;
    --fs-social-mobile: 2.5rem;
    --fs-social-desktop: 3.5rem;
    --fs-copyright-mobile: 1.15rem;

    // font weights
    --fw-regular: 400;
    --fw-semiBold: 600;
    --fw-bold: 700;
}  